body {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "PingFang SC", "Microsoft Sans Serif", "Helvetica", "Arial", sans-serif;
}

input {
    border: none;
    outline: none;
}

#app {
    position: relative;
    min-height: 100vh;
    padding: 0 30px;
    background-color: #54BEFF;
}

.oreo-card {
    max-width: 600px;
    height: 500px;
    margin: 0 auto;
    padding-top: 60px;
}

.oreo-title {
    margin: 20px 0;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.oreo-input .input {
    box-sizing: border-box;
    width: 100%;
    margin: 25px 0;
    padding: 13px 15px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.8;
    background-color: #fff;
    color: #3b1d0b;
}

.oreo-input .placeholder {
    color: #888;
}

.oreo-input-btn-wrapper {
    margin: 25px 0;
    text-align: center;
}

.oreo-input-btn {
    display: inline-block;
    margin: 0 3px;
    padding: 6px 12px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 1px 1px #609dbb;
}

.oreo-btn_generateOreo {
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
    padding: 10px 10px;
    border-radius: 6px;
    text-align: center;
    color: #fff;
    background: #3b1d0b;
}

.oreo-result {
    padding: 20px 0;
}

.oreo-canvas-wrapper {
    margin: 0 auto;
    width: 300px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 15px 0;
    text-align: center;
    color: white;
}

.loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #54BEFF;
    z-index: 100;
}

.loading-image {
    width: 240px;
    animation: rotate 1.5s linear infinite alternate-reverse;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(360deg) scale(0.2);
    }
}

.tip {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(7, 17, 27, .8);
    z-index: 10;
}

.tip-content {
    width: 275px;
    box-sizing: border-box;
    border-radius: 10px;
    background: white;
    opacity: 1;
}

.tip-message {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
}

.tip-btn_confirm {
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid rgba(7, 17, 27, 0.1);
    text-align: center;
    color: #54BEFF;
}
